In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv("defensive.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  300 non-null    int64
 1   name        300 non-null    object
 2   age         300 non-null    int64
 3   position1   300 non-null    object
 4   position2   138 non-null    object
 5   Apps        300 non-null    object
 6   Mins        300 non-null    int64
 7   Tackles     300 non-null    object
 8   Inter       300 non-null    object
 9   Fouls       300 non-null    object
 10  Offsides    300 non-null    object
 11  Clear       300 non-null    object
 12  Drb         300 non-null    object
 13  Blocks      300 non-null    object
 14  OwnG        300 non-null    object
 15  Rating      300 non-null    float64
dtypes: float64(1), int64(3), object(12)
memory usage: 37.6+ KB

In [8]:
df1 = df[["name","age","position1","position2", "Apps","Mins", "Tackles","Inter","Clear", "Blocks", "Rating" ]]

In [9]:
df1.head()

<bound method NDFrame._add_numeric_operations.<locals>.max of                                    name  age position1 position2   Apps  Mins  \
0             Robert Lewandowski Bayern   34        FW       NaN     34  2952
1                Christopher Nkunku RBL   24    M(CLR)        FW  31(3)  2735
2                 Joshua Kimmich Bayern   27     D(CR)       DMC     28  2478
3     Stefanos Kapino Arminia Bielefeld   28        GK       NaN      1    90
4      Erling Haaland Borussia Dortmund   22        FW       NaN  21(3)  1915
..                                  ...  ...       ...       ...    ...   ...
295    Alexander Schwolow Hertha Berlin   30        GK       NaN     25  2176
296  Sebastian Rode Eintracht Frankfurt   31      D(R)      M(C)  10(7)   763
297              Clinton Mola Stuttgart   21      D(L)       NaN   1(2)   113
298     Hannes Wolf Borussia M.Gladbach   23    M(CLR)       NaN   2(5)   306
299    Aymen Barkok Eintracht Frankfurt   24    AM(CR)       NaN   2(3)   159

    Tackles Inter Clear Blocks  Rating
0       0.3   0.2   0.2    0.1    7.89
1       0.7   0.4   0.4    0.1    7.64
2       1.4   1.9   0.9    0.3    7.60
3         -     -     -      -    7.58
4       0.1     -   1.3      -    7.55
..      ...   ...   ...    ...     ...
295       -   0.1   1.0      -    6.43
296     0.9   0.8   0.5    0.1    6.42
297       1   1.0   0.3    1.7    6.42
298     3.3   0.3   0.1      -    6.42
299     1.2   1.0   1.2    0.2    6.42

[300 rows x 11 columns]>

In [17]:
print(df1.columns)

Index(['name', 'age', 'position1', 'position2', 'Apps', 'Mins', 'Tackles',
       'Inter', 'Clear', 'Blocks', 'Rating'],
      dtype='object')

C:\Users\user\AppData\Local\Temp\ipykernel_18788\1343733496.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.max()

name         Yussuf Poulsen RBL
age                          38
position1                  M(R)
Apps                       9(9)
Mins                       3060
Tackles                     3.6
Inter                       2.6
Clear                       5.8
Blocks                      1.7
Rating                     7.89
dtype: object

In [11]:
## 25세 이하 선수들 df2

idx_age = df1[df1['age'] > 25].index
df2 = df1.drop(idx_age)

In [12]:
## 출전 경기, 선발과 교체로 분할

df_app = df2[['Apps']]
df_app['start'] = df_app.Apps.str.split('(').str[0]
df_app['sub'] = df_app.Apps.str.split('(').str[1];
df_app['sub'] = df_app['sub'].replace('[\),]','', regex=True)
df_app = df_app.fillna(0)
df_app

C:\Users\user\AppData\Local\Temp\ipykernel_18788\3916643530.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app['start'] = df_app.Apps.str.split('(').str[0]
C:\Users\user\AppData\Local\Temp\ipykernel_18788\3916643530.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app['sub'] = df_app.Apps.str.split('(').str[1];
C:\Users\user\AppData\Local\Temp\ipykernel_18788\3916643530.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_app['sub'] = df_app['sub'].replace('[\),]','', regex=True)

      Apps start sub
1    31(3)    31   3
4    21(3)    21   3
6    22(2)    22   2
7       32    32   0
9    20(2)    20   2
..     ...   ...  ..
291  21(5)    21   5
292  29(2)    29   2
297   1(2)     1   2
298   2(5)     2   5
299   2(3)     2   3

[130 rows x 3 columns]

In [13]:
## 데이터 타입 형변환 (object > 정수형)
df_app['start'] = df_app['start'].astype(int)
df_app['sub'] = df_app['sub'].astype(int)
df_app.dtypes

Apps     object
start     int32
sub       int32
dtype: object

In [14]:
## 25세 이하 / 출전경기 19경기 이상인 선수
df_app2 = pd.DataFrame(df_app.sum(axis=1))
df_app2.columns = ["Apps"]

idx_app = df_app2[df_app2['Apps'] < 19].index
df_app3 = df_app2.drop(idx_app)
df_app3

C:\Users\user\AppData\Local\Temp\ipykernel_18788\3119943422.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_app2 = pd.DataFrame(df_app.sum(axis=1))

     Apps
1      34
4      24
6      24
7      32
9      22
..    ...
287    19
289    33
290    23
291    26
292    31

[97 rows x 1 columns]

In [15]:
df4 = df1.loc[df_app3.index]
df4 = df4.fillna('')
df4

,name,age,position1,position2,Apps,Mins,Tackles,Inter,Clear,Blocks,Rating
1,Christopher Nkunku RBL,24,M(CLR),FW,31(3),2735,0.7,0.4,0.4,0.1,7.64
4,Erling Haaland Borussia Dortmund,22,FW,,21(3),1915,0.1,-,1.3,-,7.55
6,Florian Wirtz Leverkusen,19,AM(C),,22(2),1864,1,0.5,0.1,-,7.41
7,Nico Schlotterbeck Freiburg,22,D(C),,32,2789,2.3,1.8,4.6,1,7.39
9,Alphonso Davies Bayern,21,D(L),M(LR),20(2),1744,1.5,1,0.9,-,7.31
...,...,...,...,...,...,...,...,...,...,...,...
287,Sebastian Vasiliadis Arminia Bielefeld,24,M(C),,16(3),1199,1.6,1.3,1.6,0.1,6.44
289,Jamie Leweling Greuther Fuerth,21,AM(R),FW,22(11),1959,0.4,0.4,0.2,-,6.43
290,Luca Netz Borussia M.Gladbach,19,D(L),M(L),16(7),1313,1,0.6,1.0,0.2,6.43
291,Kristijan Jakic Eintracht Frankfurt,25,DMC,,21(5),1883,1.4,0.8,0.9,0.1,6.43
292,Elvis Rexhbecaj Bochum,24,M(C),,29(2),2469,1.3,0.9,0.5,0.2,6.43

In [16]:
#포지션별 분류
#포지션이 미드필더 중 나이가 25세 이하, 출전수가 19경기 이상인 선수
dataFilter1 = df4['position1'].str.contains("D|Defender")
df_a = df4[dataFilter1]
dataFilter4 = df_a['position1'].str.contains("M")
df5 = df_a[~dataFilter4]
df6 = pd.DataFrame(df5)
df6.to_csv("defensive_processing.csv")
df6

,name,age,position1,position2,Apps,Mins,Tackles,Inter,Clear,Blocks,Rating
7,Nico Schlotterbeck Freiburg,22,D(C),,32,2789,2.3,1.8,4.6,1,7.39
9,Alphonso Davies Bayern,21,D(L),M(LR),20(2),1744,1.5,1,0.9,-,7.31
16,David Raum Hoffenheim,24,D(L),M(LR),31(1),2762,1.6,0.8,1.1,0.2,7.16
29,Evan Ndicka Eintracht Frankfurt,23,D(CL),,32,2858,1.9,1.5,4.1,0.6,7.06
33,Konstantinos Mavropanos Stuttgart,24,D(C),,31,2711,1.8,2.2,5.4,0.7,7.05
34,Josko Gvardiol RBL,20,D(CL),,28(1),2413,1.6,1.8,1.9,0.4,7.04
37,Borna Sosa Stuttgart,24,D(L),M(L),28,2500,0.8,0.9,2,0.1,7.02
44,Dayot Upamecano Bayern,23,D(C),,25(3),2210,2.4,1.1,2.4,0.4,6.98
50,Angeliño RBL,25,D(L),M(L),26(3),2299,1.0,1.0,1.1,0.1,6.95
65,Mohamed Simakan RBL,22,D(CR),,23(5),2013,1.7,1.4,1.6,0.4,6.88
66,Jeremie Frimpong Leverkusen,21,D(R),M(R),25,2062,1.3,0.7,1.3,0.2,6.88
67,Maximilian Mittelstädt Hertha Berlin,25,D(L),M(CL),16(8),1494,2.2,1.9,1.4,0.2,6.88
74,Reece Oxford Augsburg,23,D(C),DMC,30,2694,0.9,2.4,5.6,1.1,6.86
78,Edmond Tapsoba Leverkusen,23,D(C),,19(3),1813,1.6,1.3,3.1,0.7,6.84
80,Aarón Martín Mainz,25,D(L),M(L),25(3),2296,1.9,0.7,1.2,0.1,6.84
81,Maxence Lacroix Wolfsburg,22,D(C),,29,2497,2,2.1,4.8,0.6,6.83
82,Paul Jaeckel Union Berlin,24,D(C),DMC,22(2),2045,2.1,2.4,3.3,0.4,6.83
91,Ridle Baku Wolfsburg,24,D(R),M(CR),28(6),2450,1.8,0.6,1.3,-,6.81
100,Amos Pieper Arminia Bielefeld,24,D(C),,27,2382,2.1,1.9,4.9,0.9,6.79
115,Iago Augsburg,25,D(L),M(L),26(2),2179,1.8,1.0,1.9,0.2,6.75
118,Nordi Mukiele RBL,24,D(CR),M(R),21(7),1846,1.3,1.1,1.5,0.2,6.75
119,Tuta Eintracht Frankfurt,23,D(C),,26,2189,1.8,1.6,2.5,0.6,6.75
127,Atakan Karazor Stuttgart,25,D(C),DMC,23(1),1906,2,1.4,2.0,0.6,6.73
151,Piero Hincapié Leverkusen,20,D(CL),,20(7),1752,1.2,1.2,2,0.6,6.69
152,Benjamin Henrichs RBL,25,D(LR),DMC,12(10),1138,1.4,0.9,0.6,-,6.69
162,Konrad Laimer RBL,25,D(R),M(CR),15(11),1246,1.5,0.2,0.3,0.1,6.67
165,Chris Richards Hoffenheim,22,D(C),,13(6),1301,1.4,1.2,2.5,0.5,6.66
172,Mitchel Bakker Leverkusen,22,D(L),M(L),19(6),1825,1.3,0.9,1.6,0.1,6.65
174,Hiroki Ito Stuttgart,23,D(C),,26(3),2348,1.5,1.8,3.0,0.7,6.64
183,Erhan Masovic Bochum,23,D(C),,16(3),1461,1.8,1.7,3.3,1,6.62
192,Maxim Leitsch Bochum,24,D(C),,17(2),1537,0.9,1.6,3.7,1,6.60
195,Eduard Löwen Bochum,25,D(C),M(C),14(11),1346,1.1,0.3,0.6,0.1,6.60
203,Sebastiaan Bornauw Wolfsburg,23,D(C),,23(4),2008,1.1,1.6,3.4,0.3,6.59
222,Stefan Posch Hoffenheim,25,D(CR),,26(2),2203,1.7,1,2.4,0.6,6.57
223,Armel Bella-Kotchap Bochum,20,D(C),,19(2),1679,1.6,1.9,4.0,0.8,6.56
226,Nico Elvedi Borussia M.Gladbach,25,D(CLR),,28,2432,1.4,1.2,2.9,0.8,6.55
228,Luca Kilian FC Koln,22,D(C),,25(5),2282,1.4,1.5,3.5,0.4,6.55
230,Odilon Kossounou Leverkusen,21,D(CR),,20(7),1791,0.9,1,2.2,0.5,6.55
249,Julian Ryerson Union Berlin,24,D(R),M(CLR),13(15),1421,1.0,0.6,1.1,0.1,6.52
272,Joe Scally Borussia M.Gladbach,19,D(R),M(R),20(10),1905,1.3,0.7,1.1,0.1,6.48
286,Gian-Luca Itter Greuther Fuerth,23,D(CL),,16(8),1453,1.8,0.5,2.0,0.4,6.44
290,Luca Netz Borussia M.Gladbach,19,D(L),M(L),16(7),1313,1,0.6,1.0,0.2,6.43